:root {
    --primaty-color: #222831;
    --branding-color: #0092ca;
    --secondary-color: #393e46;
    --accent-color: #eeeeee;
    --heading-font-family: 'PT Serif', serif;
    --default-font-family: 'Fira Sans', sans-serif;
}

body {
    font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primaty-color);
    font-family: var(--heading-font-family);
    font-weight: bolder;
}

h2 {
    font-size: 35px;
}

p {
    color: var(--primaty-color);
    font-weight: normal;
    font-size: 16px;
    line-height: 1.9;
}

nav {
    padding: 20px 0;
}

nav a {
    color: var(--primaty-color);
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

nav a:hover,
nav li.active a {
    color: var(--branding-color);

}

nav h4 {
    line-height: 1.5;
    padding: 0;
    margin: 0;
    font-family: var(--default-font-family);
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 2;
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
}

footer {
    margin: 60px 0px 0px;
}

footer h4 {
    font-size: 30px;
}

footer .contact-box p {
    margin: 0;
}

footer .contact-box {
    background: var(--accent-color);
    padding: 30px 120px;
    border-radius: 6px;
}

footer .email-link {
    color: var(--primaty-color);
    font-size: 20px;
}

footer .social-links a {
    margin: 0 20px;
    color: var(--branding-color);
    background: var(--accent-color);
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 15px;
    transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
    color: var(--accent-color);
    background: var(--branding-color);
}

.footer-msg a {
    color: var(--branding-color);
    text-decoration: none;
}

.hero {
    background: var(--primaty-color);
    text-align: center;
    color: var(--accent-color);
    padding: 160px 10px;
}

.hero p {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    color: var(--accent-color);
}

.hero h1 {
    font-size: 60px;
    color: var(--accent-color);
    line-height: 1.5;
}

.hero h3 {
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 20px;
    line-height: 2;
    color: var(--accent-color);
}

.content-container {
    padding: 40px 10px;
    margin-right: 30px;
}

.content h1 {
    font-size: 70px;
    line-height: 1;
}

.content h3 {
    padding: 5px 0 10px;
    line-height: 1.5;
    font-family: var(--default-font-family);
}

.btn-branding {
    background: var(--branding-color);
    font-size: 18px;
    color: var(--accent-color);
    border-radius: 4px;
    line-height: 27px;
    padding: 15px 30px;
    transition: all 200ms ease-in-out;
}

.btn-branding:hover {
    background: var(--branding-color);
    opacity: 0.8;
    color: white;
}

.btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    font-size: 18px;
    border-radius: 4px;
    line-height: 27px;
    padding: 15px 30px;
    transition: all 200ms ease-in-out;
}

.project-description {
    padding: 80px 40px 0px;
}

.btn-branding-outline:hover {
    color: var(--branding-color);
    border-color: var(--branding-color);
    font-size: 19px;
    padding: 15px 27px;
}

.contact-details {
    text-align: center;
}

.contact-details i {
    color: var(--primaty-color);
    font-size: 120px;
    margin: 30px 0px 10px;
}

.contact-details p {
    margin-top: 0px;
}

.contact-details a {
    color: var(--branding-color);
    text-decoration: none;
}

.logo {
    max-width: 40px;
}

@media (max-width: 1200px) {
    .project-description {
        padding: 30px 20px 0;
    }

    .content-container {
        padding: 20px 5px;
        margin-right: 5px;
    }

    .content h1 {
        font-size: 50px;
        line-height: 1.2;
    }

    .content h3 {
        padding: 0px;
        font-size: 25px;
        line-height: 1.3;
    }
}

@media (max-width: 992px) {

    h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    nav a {
        font-size: 14px;
    }

    nav li {
        margin-left: 10px;
    }

    .hero {
        padding: 60px 10px;
    }

    .hero h1 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .hero h3 {
        font-size: 17px;
        line-height: 1.4;
    }

    .hero p {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .project-description {
        padding: 0;
        text-align: center;
    }

    .content-container {
        text-align: center;
        padding: 10px 5px;
        margin-right: 0px;
    }

    .content h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .content h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .content {
        margin: 0px;
    }
}